@charset "utf-8";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Atlas */
.atlas {
  padding-left: 39%;
  padding-top: 80px;
  margin-bottom: 10%;
  height: 30px;
}

/* body */
.all_content {
  background: #ECF1F6;
}

ul,
li {
  list-style: none;
}

/* サイドバー */
.sidebar {
  width: 210px;
  height: 100vh;
  background-color: #03AAD2;
  font-weight: bold;
  color: #FFF;
  padding-top: 20px;
  padding-left: 15px;
}

.main-container {
  width: 100%;
}

.sidebar p a {
  color: #FFF;
  padding-left: 10px;
}

/* ログイン画面 */
.login-top {
  background: #008BBB;
  height: 100vh;
  background-color: #d7de12;
  background-image: linear-gradient(0deg, #87CEFA 0%, #008BBB 60%);
}

.login-text {
  background-color: #FFF;
  border-radius: 10px;
}

.border {
  border-radius: 10px;
}

.register-top {
  background-color: #FFF;
}

/* マイページ */
.user_status {
  border-radius: 10px;
  background: #FFF;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .2);
  /* 影 */
}

/* スクール予約関連 */
.day-blank {
  background: #D3D3D3;
}

.day-sat {
  color: #0000FF;
}

.day-sun {
  color: #FF0000;
}

.past-day {
  background: #EEE;
}

.calendar-td {
  min-width: 100px;
}

.day_part {
  color: #494949;
  font-size: 12px;
  margin-bottom: 5px;
  padding-left: 20px;
}

span.day_count1 {
  padding-left: 24px;
}

span.day_count2 {
  padding-left: 22px;
}

span.day_count3 {
  padding-left: 22px;
}

.adjust-table {
  width: 70% !important;
}

.adjust-table td {
  padding: 0 !important;
}

.adjust-area p {
  justify-content: space-around;
}

.adjust-table-btn {
  width: 70%;
}

/* モーダル */
.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}

.modal__bg {
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  position: absolute;
  width: 100%;
}

.modal__content {
  background: #fff;
  left: 50%;
  padding: 40px;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 60%;
}

/* 掲示板 */
.sub_categories {
  /* display: none; */
}

.post_create_area {
  background: #FFF;
  border-radius: 10px;
}

.post_create_area textarea {
  resize: none;
  height: 300px;
  white-space: pre-wrap;
}

.detail_container {
  background: #FFF;
  border-radius: 10px;
}

.post_area {
  background: #FFF;
  border-radius: 10px;
}

.post_bottom_area {
  justify-content: space-between;
  margin-left: 85%;
  margin-top: 1%;
}

.post-subCategories {
  margin: 1px;
  padding: 3px;
  border-radius: 8px;
  background-color: #03AAD2;
  color: #FFF;
}

.post-text {
  margin: 1px;
  padding: 3px;
  border-radius: 8px;
  background-color: #03AAD2;
  padding-left: 115px;
  margin-bottom: 20px;
}

.post-search {
  border-radius: 5px;
  margin-bottom: 15px;
  border-width: thin;
  background-color: transparent;
}

.post-search-button {
  border-radius: 5px;
  margin-bottom: 15px;
  border-width: thin;
  background-color: #03AAD2;
  width: 87px;
  color: #EEE;
  margin-left: 3px;
}

.like_posts {
  padding: 3px;
  border-radius: 8px;
  background-color: #DB7093;
  border: none;
  color: #EEE;
  margin-right: 10px;

}

.my_posts {
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 8px;
  background-color: #DAA520;
  border: none;
  color: #EEE;
}


.like_btn,
.un_like_btn {
  cursor: pointer;
}

.un_like,
.un_like_btn {
  color: #E2254D;
}

.error_message {
  font-size: 12px;
  color: red;
}

.category_search {
  margin-left: 30px;
}

/* アコーディオンメニュー (posts.blade)*/
.accordion-container {
  display: flex;
  position: relative;
  border-top: none;
  outline: 0;
  cursor: pointer;
}

.accordion-container .accordion-title {
  display: block;
  position: relative;
  font-size: 1em;
  font-weight: normal;
  cursor: pointer;
  margin-bottom: 10px;
}

/*メイン/サブカテゴリーの表示 */
.menu {
  position: absolute;
  width: 70%;
  flex-flow: column;
  justify-content: space-between;
}

/* コンテンツ部分で、アコーディオンメニューを開く前はサブカテゴリーを非表示にする */
.accordion-content {
  display: none;
}

.accordion-title:after {
  content: "";
  position: absolute;
  right: 25px;
  top: 38%;
  transition: transform .3s ease-in-out,
    top .3s ease-in-out;
  display: block;
  width: 8px;
  height: 8px;
  border-top: solid 2px #fff;
  border-right: solid 2px #fff;
  border-color: #494949;
  transform: rotate(135deg);
  /*// 最初の矢印は下向き */
}

.accordion-title.open::after {
  top: 45%;
  /*// 矢印の位置を少し変える */
  transform: rotate(-45deg);
  /*// 矢印を上向きに変える */
}

/* 掲示板 詳細画面 */
.contributor {
  font-size: 12px;
  color: #999;
  font-weight: bold;
  padding-top: 15px;
}

.detsail_post_title {
  font-size: 14px;
}

.detsail_post {
  font-size: 12px;
  color: #9E9E9E;
}

.detail_inner_head {
  display: flex;
  justify-content: space-between;
  padding-left: 75%;
}

.edit-modal-open {
  cursor: pointer;
}

.modal-inner-body textarea {
  height: 150px;
  resize: none;
}

.edit-modal-btn {
  justify-content: space-between;
}

/* 掲示板 コメント */
.comment_container {
  background: #FFF;
}

.comment_area p,
.comment_area input {
  font-size: 12px;
  font-weight: bold;
}

.comment_area textarea {
  height: 300px;
  resize: none;
}

.comment_container span {
  font-size: 12px;
}

.comment-create {
  padding-left: 90%;
}

.post_status span {
  font-size: 12px;
}

.post-subCategories-comment {
  padding: 3px;
  border-radius: 8px;
  background-color: #03AAD2;
  color: #FFF;
}

/* 掲示板　カテゴリー */
.category_area {
  background: #FFF;
  border-radius: 10px;
}

.category_box {
  border-radius: 5px;
  padding: 3px;
  background: #999;
  font-size: 10px;
  color: #FFF;
}

.category_btn {
  font-size: 15px;
  border-radius: 5px;
  padding: 0 5px;
  border: none;
  text-decoration: underline;
  margin-left: 10px;
  margin-bottom: 10px;
}

.main_categories span,
.sub_categories li input {
  list-style: none;
  cursor: pointer;
}

/* ユーザー検索 */
.reserve_users_area {
  display: flex;
  flex-wrap: wrap;
  width: 800px;
  margin: 10px auto;
  height: 80vh;
  overflow: scroll;
  padding: 10px;
  border-radius: 5px;
}

.reserve_users_area span {
  font-size: 12px;
}

.one_person {
  width: 230px;
  height: 230px;
  padding: 30px;
  margin: 7px;
  background: #FFF;
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, .1);
  font-weight: bold;
}

.search_conditions span {
  cursor: pointer;
}

.search_conditions_inner {
  display: none;
}


.subject_edit_btn {
  font-size: 12px;
  color: #0000FF;
  cursor: pointer;
}

.subject_inner {
  display: none;
}

.free_word {
  background-color: #CCCCCC;
  border-radius: 10px;
  border: none;
  height: 40px;
  margin-bottom: 15px;
}

.userSearch-category {
  background-color: #CCCCCC;
  border-radius: 10px;
  border: none;
  height: 30px;
  margin-bottom: 15px;
}

.userSearch-upDown {
  background-color: #CCCCCC;
  border-radius: 10px;
  border: none;
  height: 30px;
  margin-bottom: 15px;
  width: 67px;
}

.engineer {
  background-color: #CCCCCC;
  border-radius: 10px;
  border: none;
  height: 30px;
  margin-bottom: 15px;
  width: 67px;
}

.reset-button {
  padding-left: 75px;
  padding-right: 75px;
  color: #03AAD2;
  border: none;
  margin-bottom: 15px;
  margin-top: 15px;
}

.search-submit {
  padding: 3px;
  border-radius: 8px;
  background-color: #03AAD2;
  padding-left: 90px;
  padding-right: 90px;
  margin-bottom: 20px;
  color: #FFF;
  border: none;
}

/* calendar.blade.php キャンセル機能 */
input#text-modal {
  width: 15px;
  padding: 3px;
}

/* カレンダー(reserve_detail.blade.php) */

.calendar-detail {
  background: #fff;
}

.calendar-detail tr:nth-child(odd) td {
  background: #EEFFFF;
}
